.background-image{
    background-image: url("../../../assets/img/tech/education_960X1440.jpg");
}

.background-image-small-screen {
    background-image: url("../../../assets/img/tech/education_960X1440.jpg");
    background-size: cover;
    background-position: center;
}

@media (min-width: 768px) {
    .background-image-small-screen {
        background-image: none;
    }
}