<section class="flex flex-col sm:flex-row">
  <div id="aboutAnchor" class="relative -top-20"></div>
  <div
    class="hidden sm:flex m-0 background-image w-0 sm:w-5/12 max-h-fit bg-cover bg-center"
  >
    <div
      class="text-center bg-slate-900 min-w-full opacity-25 m-0 flex flex-col justify-center items-center"
    ></div>
  </div>

  <div class="m-0 w-full sm:w-7/12">
    <div class="bg-gray-900 bg-opacity-90 w-full flex flex-col items-start">
      <h1
        class="flex main-bg-color max-w-fit custom-blue text-3xl uppercase p-2 font-bold"
      >
        Education
      </h1>
    </div>

    <div class="bg-gray-900 bg-opacity-90 w-full p-8 text-slate-50 text-lg">
      <h2 class="font-bold">Tertiary</h2>
      <div class="mb-4">
        <p class="font-bold">Bachelor of Engineering in Chemical Engineering</p>
        <p class="text-gray-300">
          University of Pretoria | Graduated: November 2022
        </p>
      </div>
      <div class="mb-4">
        <p class="font-bold">Summary</p>
        <p class="text-gray-300">
            <span class="font-bold"> I successfully completed my Bachelor's degree</span>
           in Chemical Engineering at the University of Pretoria with distinction. Throughout my academic journey, I excelled in relevant coursework, including Process Dynamics and Control, Chemical Engineering, Thermodynamics, Heat Transfer, and Modelling and Data Analysis. Notably, I achieved my degree with distinction, showcasing my commitment to academic excellence.
        </p>
        <p class="text-gray-300">
            <span class="font-bold"> My final year research project involved utilizing Python</span>
           to model the dynamics of a froth flotation cell for a platinum concentrator operation. This project required applying software development principles to analyze and simulate complex chemical engineering processes. Additionally, my design project involved Python modeling for reactor design, ammonia synthesis, and the design of a heat exchanger and distillation column. These experiences not only contributed to my software development skills but also applied them to the optimization of chemical engineering processes.
        </p>
        <p class="text-gray-300">
            <span class="font-bold"> As a participant in the Grinding Control Challenge</span>
           organized by the 19th IFAC MMM 2022 symposium, my teammate and I utilized MATLAB to develop a control strategy for a grinding plant. Our implementation of a P&ID controller resulted in our team being awarded the Best Undergraduate Team. This experience demonstrated my ability to leverage software tools effectively in engineering competitions. In my final year control module, I designed and implemented a P&ID controller using Python, deepening my understanding of control systems and strengthening my programming skills, emphasizing my ability to bridge the gap between software development and chemical engineering.
        </p>
      </div>
      <hr />
      <h2 class="font-bold mb-4">Certifications</h2>
      <div
        class="grid grid-cols-4 gap-4 items-center justify-center align-middle"
      >
        <div class="flex items-center justify-center">
          <a
            class="no-underline hover:cursor-pointer"
            href="https://learn.microsoft.com/en-za/users/andrsteyn-8109/credentials/7231f0262b34ea09"
            target="_blank"
            rel="noopener noreferrer"
          >
            <img
              class="h-auto w-auto flex align-middle items-center"
              src="../../../assets/img/logos/azure_fundamentals_340X340.png"
              alt="Microsoft Certified: Azure Fundamentals"
              title="Microsoft Certified: Azure Fundamentals"
              width="300"
              height="100"
            />
          </a>
        </div>
        <div class="flex items-center justify-center">
          <a
            class="no-underline hover:cursor-pointer"
            href="https://www.credly.com/badges/098c7e16-696f-4eae-8b25-6bd23a52e634"
            target="_blank"
            rel="noopener noreferrer"
          >
            <img
              class="h-auto w-auto flex align-middle items-center"
              src="../../../assets/img/logos/aws_ccp_340X340.png"
              alt="AWS Certified Cloud Practitioner"
              title="AWS Certified Cloud Practitioner"
              width="300"
              height="100"
            />
          </a>
        </div>
        <div class="flex items-center justify-center">
          <a
            class="no-underline hover:cursor-pointer"
            href="https://www.credly.com/badges/101c20fd-9798-4216-8a49-f687177a64f1"
            target="_blank"
            rel="noopener noreferrer"
          >
            <img
              class="h-auto w-auto flex align-middle items-center"
              src="../../../assets/img/logos/aws_da_340X340.png"
              alt="AWS Certified Developer Associate"
              title="AWS Certified Developer Associate"
              width="300"
              height="100"
            />
          </a>
        </div>
        <div class="flex items-center justify-center">
          <a
            class="no-underline hover:cursor-pointer"
            href="https://www.credly.com/badges/73ad0321-5092-414b-80a2-d6006c0d0165"
            target="_blank"
            rel="noopener noreferrer"
          >
            <img
              class="h-auto w-auto flex align-middle items-center"
              src="../../../assets/img/logos/aws_ssa_600X600.png"
              alt="AWS Certified Solutions Architect Associate"
              title="AWS Certified Solutions Architect Associate"
              width="300"
              height="100"
            />
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
