<section class="flex flex-col md:flex-row bg-slate-300">
  <div id="experienceAnchor" class="relative -top-16"></div>
  <div class="background-image-small-screen md:bg-slate-300 m-0 w-full md:w-7/12">
    <div class="md:bg-opacity-0 w-full bg-slate-400 bg-opacity-85">
      <div class="w-full flex flex-col items-end" data-aos="fade-up">
      
        <h1
          class="flex items-end justify-end main-bg-color max-w-fit custom-blue text-3xl uppercase p-2 font-bold"
        >
          Experience
        </h1>
      </div>
  
      <div class="w-full px-8 text-lg">
        <div class="experience custom-blue" data-aos="fade-up">
          <div id="darielAnchor" class="relative -top-20"></div>
          <div
            class="flex flex-row justify-between items-center"
            data-aos="fade-up"
          >
            <div class="flex flex-col" data-aos="fade-up">
              <h2 class="text-2xl m-0 font-bold">Johannesburg,</h2>
              <h2 class="text-2xl m-0 font-bold">South Africa</h2>
              <p class="font-semibold mb-0">Junior Software Developer</p>
              <p class="font-semibold">Feb 2023 to Present</p>
            </div>
            <div class="flex">
              <a
                class="no-underline hover:cursor-pointer"
                href="https://www.dariel.co.za/"
                target="_blank"
                rel="noopener noreferrer"
              >
                <img
                  class="w-32 h-auto flex mb-2"
                  src="../../../../../assets/img/logos/dariel_logo_300X100.webp"
                  alt="Dariel"
                  width="300"
                  height="100"
                />
              </a>
            </div>
          </div>
  
          <p class="" data-aos="fade-up">
            <span class="font-bold"
              >Join me on my journey at Dariel Software,</span
            >
            a prominent software consulting firm in Johannesburg, specializing in
            software development, integration, technology consulting, and digital
            transformation. They excel in creating tailored software solutions,
            managing the entire development lifecycle, and seamlessly connecting
            applications and data sources.
          </p>
          <p class="" data-aos="fade-up">
            <span class="font-bold">As a Junior Software Developer,</span>
            my role at Dariel has been dynamic and challenging. I started my
            journey by being assigned to a private hospital company as a client.
            Here, I delved into the existing project by writing unit tests,
            gaining a deeper understanding of its functionality. Subsequently, I
            contributed to a CMS project by extending the functionality of the
            FHIR API, enhancing its capabilities.
          </p>
          <p class="" data-aos="fade-up">
            <span class="font-bold"
              >My role further evolved as I took on different
              responsibilities,</span
            >
  
            focusing on resolving critical bugs in the main application, ensuring
            its reliability and performance. The journey culminated as I took the
            lead in getting an inherited Angular application up and running,
            working collaboratively with the team to address and overcome numerous
            challenges.
          </p>
          <button
            class="text-blue-500 font-bold hover:text-blue-600 underline"
            (click)="onClickReadMore('darielAnchor', 'dariel')"
            data-aos="fade-up"
          >
            Read More
          </button>
        </div>
  
        <hr data-aos="fade-up" />
  
        <div class="experience mt-2">
          <div id="minopexAnchor" class="relative -top-20"></div>
          <div
            class="flex flex-row justify-between items-center"
            data-aos="fade-up"
          >
            <div class="flex flex-col">
              <h2 class="text-2xl m-0 font-bold">Kroondal,</h2>
              <h2 class="text-2xl m-0 font-bold">South Africa</h2>
              <p class="font-semibold mb-0">Process Engineering Intern</p>
              <p class="font-semibold">Jan 2021 to Feb 2021</p>
            </div>
            <div class="flex">
              <a
                class="no-underline hover:cursor-pointer"
                href="https://minopex.com/"
                target="_blank"
                rel="noopener noreferrer"
              >
                <img
                  class="w-32 h-auto flex items-center mb-2"
                  src="../../../../../../assets/img/logos/minopex_138x39.png"
                  alt="Minopex"
                  width="300"
                  height="100"
                />
              </a>
            </div>
          </div>
  
          <p class="" data-aos="fade-up">
            <span class="font-bold">During my initial role at Minopex,</span>
            I spearheaded a significant project investigating the efficiency of
            dense medium cyclones and optimizing ferrosilicon recovery,
            contributing to cost-effective process enhancements.
          </p>
          <p class="" data-aos="fade-up">
            <span class="font-bold"
              >My collaboration with the junior metallurgist involved,</span
            >
            innovative data analysis techniques to improve accuracy in flotation
            cell data management. Additionally, I demonstrated strong written
            communication skills in preparing various reports and documents,
            actively engaged in continuous improvement initiatives, upheld safety
            standards, and leveraged advanced Excel and Python expertise to
            streamline data analysis and reporting processes.
          </p>
          <button
            class="text-blue-500 font-bold hover:text-blue-600 underline mb-2"
            (click)="onClickReadMore('minopexAnchor', 'minopex-1')"
            data-aos="fade-up"
          >
            Read More
          </button>
          <div data-aos="fade-up">
            <p class="font-semibold mt-4 mb-0">Process Engineering Intern</p>
            <p class="font-semibold">Jan 2022 to Feb 2022</p>
          </div>
          <p class="" data-aos="fade-up">
            <span class="font-bold">During my second stint of vacation</span>
            work at Minopex, I played an active role in optimizing the flotation
            section's operations.
          </p>
          <p class="" data-aos="fade-up">
            <span class="font-bold"
              >My responsibilities encompassed tasks like airflow
              optimization,</span
            >
  
            reagent preparation, and maintaining uninterrupted flow in pipelines.
            My primary project involved conducting bench flotation tests and
            in-depth particle size distribution analysis, utilizing established
            methodologies to evaluate their influence on process efficiency.
            Additionally, I leveraged Excel and Python for meticulous data
            analysis and interpretation, thereby improving the effectiveness of
            data-driven decision-making and making significant contributions to
            our team's objectives.
          </p>
          <button
            class="text-blue-500 font-bold hover:text-blue-600 underline mb-8"
            (click)="onClickReadMore('minopexAnchor', 'minopex-2')"
            data-aos="fade-up"
          >
            Read More
          </button>
          <div></div>
        </div>
      </div>
    </div>
   
  </div>

  <div
    class="hidden md:flex m-0 background-image w-0 md:w-5/12 max-h-fit bg-cover bg-center" data-aos="fade-up"
  >
    <div
      class="text-center bg-slate-900 bg-opacity-40 min-w-full min-h-screen m-0 flex flex-col justify-center items-center"
    ></div>
  </div>
</section>
