.background-image {
    background-image: url("../../../assets/img/personal/personal_4_760X1123.jpg");
  }

  .background-image-small-screen {
    background-image: url("../../../assets/img/personal/personal_4_760X1123.jpg");
    background-size: cover;
    background-position: center;
}

@media (min-width: 768px) {
    .background-image-small-screen {
        background-image: none;
    }
}