<section class="flex flex-col sm:flex-row">
  <div class="m-0 w-full sm:w-3/4">
    <div class="bg-slate-300 w-full flex flex-col items-end">
      <h1
      class="flex items-end justify-end main-bg-color max-w-fit custom-blue text-3xl uppercase p-2 font-bold"
    >
      Experience
    </h1>
    </div>
    
    <div class="bg-slate-300 w-full p-8">
      
      <p class="custom-blue text-lg">
        Join me on my journey at Dariel Software, a prominent software
        consulting firm in Johannesburg, specializing in software development,
        integration, technology consulting, and digital transformation.
      </p>
      <p class="custom-blue text-lg mt-3">
        As a Junior Software Developer, my role at Dariel has been dynamic and
        challenging. From contributing to a CMS project by enhancing the FHIR
        API to leading the revitalization of an inherited Angular application,
        my experiences have spanned a diverse range of projects and
        technologies.
      </p>
      <!-- Add more content as needed -->

      <!-- Link to the detailed page -->
      <a
        class="text-blue-500 font-bold mt-5"
        routerLink="dariel"
        routerLinkActive="active"
        >Read More</a
      >
    </div>
  </div>

  <div
    class="hidden sm:flex m-0 background-image w-0 sm:w-1/2 max-h-fit bg-cover bg-center"
  ></div>
</section>
