<header class="sticky top-0 z-10 bg-slate-100 p-2">
  <section class="mx-2 flex items-center align-middle justify-between">
    <div class="flex gap-4">
      <a
        class="no-underline hover:cursor-pointer"
        href="https://www.dariel.co.za/"
        target="_blank"
        rel="noopener noreferrer"
      >
        <img
          class="h-9 w-auto flex align-middle items-center"
          src="../../../../../assets/img/logos/dariel_logo_300X100.webp"
          alt="Dariel"
          width="300"
          height="100"
        />
      </a>
      <h1 class="custom-blue m-0 text-2xl font-bold flex align-middle">
        Junior Software Developer
      </h1>
    </div>

    <button class="text-2xl font-bold" (click)="navigateAndScroll()">
      <i class="bi bi-house-fill"></i>
    </button>
  </section>
</header>

<div id="darielAnchor" class="relative -top-10"></div>
<section
  class="flex flex-col md:flex-row w-auto h-fit bg-cover bg-center background-image align-middle justify-center items-center"
>
  <div class="m-0 w-full md:w-1/2 text-lg">
    <div
      class="bg-gray-900 bg-opacity-70 md:bg-opacity-90 text-slate-50 w-full p-8 min-h-screen"
      data-aos="fade-up"
    >
      <h1 class="inline md:hidden text-2xl font-bold" data-aos="fade-up">
        Junior Software Developer
      </h1>
      <h2 class="text-2xl font-bold" data-aos="fade-up">Feb 2023 to Present</h2>
      <p class="" data-aos="fade-up">
        <span class="font-semibold text-lg"
          >Join me on my journey at Dariel Software,</span
        >a prominent software consulting firm in Johannesburg, specializing in
        software development, integration, technology consulting, and digital
        transformation. They excel in creating tailored software solutions,
        managing the entire development lifecycle, and seamlessly connecting
        applications and data sources.
      </p>
      <p class="" data-aos="fade-up">
        <span class="font-semibold text-lg"
          >As a Junior Software Developer,</span
        >
        my role at Dariel has been dynamic and challenging. I started my journey
        by being assigned to a private hospital company as a client. Here, I
        delved into the existing project by writing unit tests, gaining a deeper
        understanding of its functionality. Subsequently, I contributed to a CMS
        project by extending the functionality of the FHIR API, enhancing its
        capabilities.
      </p>
      <p class="" data-aos="fade-up">
        <span class="font-semibold text-lg"
          >My role further evolved as I took on different
          responsibilities,</span
        >
        focusing on resolving critical bugs in the main application, ensuring
        its reliability and performance. The journey culminated as I took the
        lead in getting an inherited Angular application up and running, working
        collaboratively with the team to address and overcome numerous
        challenges.
      </p>

      <h2 class="text-2xl font-semibold mt-4" data-aos="fade-up">
        Responsibilities:
      </h2>
      <ul class="list-disc pl-8 text-lg">
        <li class="mt-2" data-aos="fade-up">
          <span class="font-semibold text-lg"
            >Orchestrated the migration of an ASP.NET Core</span
          >
          application to a Docker container, streamlining the onboarding process
          for new developers. This involved selecting appropriate Docker images,
          writing Dockerfiles and docker-compose.yaml files, and incorporating
          TLS/SSL certificates into the container.
        </li>
        <li class="mt-2" data-aos="fade-up">
          <span class="font-semibold text-lg"
            >Played a pivotal role in resolving numerous bugs</span
          >
          and issues for an Angular app for tracking patient ward movements and
          statuses within hospitals, ensuring the application's readiness for
          deployment to a Quality Assurance environment.
        </li>
        <li class="mt-2" data-aos="fade-up">
          <span class="font-semibold text-lg"
            >Applied expertise in NHibernate,</span
          >
          the Object-Relational Mapping (ORM) tool, to analyze and optimize
          code, resulting in a remarkable 90% improvement in response times for
          the identified resources.
        </li>
        <li class="mt-2" data-aos="fade-up">
          <span class="font-semibold text-lg"
            >Implemented comprehensive unit and system tests</span
          >
          to validate the intended functionality of software modules.
        </li>
        <li class="mt-2" data-aos="fade-up">
          <span class="font-semibold text-lg"
            >Developed and executed functional test scenarios</span
          >, ensuring strict adherence to project requirements and
          specifications.
        </li>
        <li class="mt-2" data-aos="fade-up">
          <span class="font-semibold text-lg"
            >Utilized mock objects in unit testing</span
          >
          to simulate various scenarios, thereby enhancing test coverage.
        </li>
        <li class="mt-2" data-aos="fade-up">
          <span class="font-semibold text-lg"
            >Designed and executed SQL query</span
          >
          scripts to generate test data, ensuring accurate and reliable testing
          environments.
        </li>
        <li class="mt-2" data-aos="fade-up">
          <span class="font-semibold text-lg"
            >Actively engaged in code refactoring</span
          >
          to improve codebase maintainability and adaptability.
        </li>
        <li class="mt-2" data-aos="fade-up">
          <span class="font-semibold text-lg"
            >Implemented the repository pattern</span
          >
          and utilized the MVC architecture to enhance code organization and
          maintainability.
        </li>
        <li class="mt-2" data-aos="fade-up">
          <span class="font-semibold text-lg"
            >Extended the functionality of the FHIR API</span
          >
          using C# and .NET technologies.
        </li>
        <li class="mt-2" data-aos="fade-up">
          <span class="font-semibold text-lg"
            >Collaborated with a cross-functional team</span
          >
          using Azure DevOps and Git for version control, ensuring efficient
          code management, seamless collaboration, and effective teamwork.
        </li>
        <li class="mt-2" data-aos="fade-up">
          <span class="font-semibold text-lg">Deployed pipelines</span> to
          different environments in Azure DevOps.
        </li>
      </ul>

      <div data-aos="fade-up">
        <h2 class="text-2xl font-semibold mt-4">Technologies Used:</h2>
        <div
          class="grid grid-cols-5 gap-4 items-center justify-center align-middle"
          data-aos="fade-up"
        >
          <div class="flex items-center justify-center">
            <img
              class="h-auto w-auto"
              src="../../../../../assets/img/logos/c_sharp_256X288.png"
              alt="C#"
              title="C#"
              width="256"
              height="288"
            />
          </div>
          <div class="flex items-center justify-center">
            <img
              class="h-auto w-auto grid align-middle items-center"
              src="../../../../../assets/img/logos/asp_net_320X160.png"
              alt="ASP.NET"
              title="ASP.NET"
              width="320"
              height="160"
            />
          </div>
          <div class="flex items-center justify-center">
            <img
              class="h-auto w-auto grid align-middle items-center"
              src="../../../../../assets/img/logos/angular_240X240.png"
              alt="Angular"
              title="Angular"
              width="240"
              height="240"
            />
          </div>
          <div class="flex items-center justify-center">
            <img
              class="h-auto w-auto grid align-middle items-center"
              src="../../../../../assets/img/logos/typescript_240X240.png"
              alt="TypeScript"
              title="TypeScript"
              width="240"
              height="240"
            />
          </div>
          <div class="flex items-center justify-center">
            <img
              class="h-auto w-auto grid align-middle items-center"
              src="../../../../../assets/img/logos/javascript_240X240.png"
              alt="JavaScript"
              title="JavaScript"
              width="240"
              height="240"
            />
          </div>
          <div class="flex items-center justify-center">
            <img
              class="h-auto w-auto grid align-middle items-center"
              src="../../../../../assets/img/logos/docker_240X240.png"
              alt="Docker"
              title="Docker"
              width="240"
              height="240"
            />
          </div>
          <div class="flex items-center justify-center">
            <img
              class="h-auto w-auto grid align-middle items-center"
              src="../../../../../assets/img/logos/sql_server_690X690.png.png"
              alt="Microsoft SQL Server"
              title="Microsoft SQL Server"
              width="690"
              height="690"
            />
          </div>
          <div class="flex items-center justify-center">
            <img
              class="h-auto w-auto grid align-middle items-center"
              src="../../../../../assets/img/logos/azure_640X185.png"
              alt="Azure"
              title="Azure"
              width="640"
              height="185"
            />
          </div>
          <div class="flex items-center justify-center">
            <img
              class="h-auto w-auto grid align-middle items-center"
              src="../../../../../assets/img/logos/azure_devops_392X147.jpeg"
              alt="Azure DevOps"
              title="Azure DevOps"
              width="392"
              height="147"
            />
          </div>
          <div class="flex items-center justify-center">
            <img
              class="h-auto w-auto grid align-middle items-center"
              src="../../../../../assets/img/logos/git_383X383.png"
              alt="Git"
              title="Git"
              width="383"
              height="383"
            />
          </div>
        </div>

        <div class="flex items-center justify-center mb-4">
          <button
            class="bg-blue-500 hover:bg-blue-700 text-white text-2xl font-bold py-2 px-4 rounded mt-4"
            (click)="navigateAndScroll()"
          >
            <i class="bi bi-house-fill"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
