<section class="flex flex-col sm:flex-row">
    <div class="hidden sm:flex m-0 background-image-bw w-0 sm:w-1/2 max-h-fit bg-cover bg-center"></div>
    <div class="m-0 w-full sm:w-1/2">
      <div class="bg-slate-300 bg-opacity-50 w-full p-8">
        <h1 class="flex mb-5 items-start main-bg-color max-w-fit text-gray-800 text-3xl uppercase p-2 font-bold shadow-md shadow-black">
          Dariel Software - Junior Software Developer
        </h1>
        <p class="text-gray-800 text-lg">
          Join me on my journey at Dariel Software, a prominent software consulting firm in Johannesburg, specializing in software development, integration, technology consulting, and digital transformation.
        </p>
        <p class="text-gray-800 text-lg mt-3">
          As a Junior Software Developer, my role at Dariel has been dynamic and challenging. From contributing to a CMS project by enhancing the FHIR API to leading the revitalization of an inherited Angular application, my experiences have spanned a diverse range of projects and technologies.
        </p>

        <h2 class="text-gray-800 text-2xl font-bold mt-5">Responsibilities:</h2>
        <ul class="list-disc pl-8 text-gray-800">
          <li>Orchestrated the migration of an ASP.NET Core application to a Docker container, streamlining the onboarding process for new developers.</li>
          <li>Played a pivotal role in resolving bugs for an Angular app tracking patient ward movements, ensuring readiness for deployment.</li>
          <li>Implemented comprehensive unit and system tests, ensuring the intended functionality of software modules.</li>
          <!-- Add more responsibilities as needed -->
        </ul>

        <h2 class="text-gray-800 text-2xl font-bold mt-5">Technologies Used:</h2>
        <ul class="list-disc pl-8 text-gray-800">
          <li>C#</li>
          <li>.NET</li>
          <li>TypeScript</li>
          <!-- Add more technologies as needed -->
        </ul>

        <!-- Add more content as needed -->

        <!-- Link back to the home page -->
        <a href="index.html" class="text-blue-500 font-bold mt-5">Back to Home</a>
      </div>
    </div>
  </section>