<header class="sticky top-0 z-10 bg-slate-100 p-2">
  <section class="mx-2 flex items-center align-middle justify-between">
    <h1 class="custom-blue m-0 text-3xl font-bold uppercase flex align-middle">
      <img
        class="h-9 w-auto flex align-middle items-center"
        src="../../../../../assets/img/logos/dariel_logo_300X100.webp"
        alt="Dariel"
        width="300"
        height="100"
      />
      &nbsp; Junior Software Developer
    </h1>
    <a
      class="custom-blue text-3xl font-bold uppercase no-underline flex align-middle"
      routerLink=""
      routerLinkActive="active"
      >Home</a
    >
  </section>
</header>

<section
  class="flex flex-col w-auto h-fit bg-cover bg-center background-image-horizontal align-middle justify-center items-center"
>
  <div class="m-0 w-1/2">
    <div class="bg-gray-900 bg-opacity-95 w-full p-8 min-h-screen">
      <p class="text-slate-50 text-lg">
        Join me on my journey at Dariel Software, a prominent software
        consulting firm in Johannesburg, specializing in software development,
        integration, technology consulting, and digital transformation.
      </p>
      <p class="text-slate-50 text-lg mt-3">
        As a Junior Software Developer, my role at Dariel has been dynamic and
        challenging. From contributing to a CMS project by enhancing the FHIR
        API to leading the revitalization of an inherited Angular application,
        my experiences have spanned a diverse range of projects and
        technologies.
      </p>

      <h2 class="text-slate-50 text-2xl font-bold mt-5">Responsibilities:</h2>
      <ul class="list-disc pl-8 text-slate-50">
        <li>
          Orchestrated the migration of an ASP.NET Core application to a Docker
          container, streamlining the onboarding process for new developers.
        </li>
        <li>
          Played a pivotal role in resolving bugs for an Angular app tracking
          patient ward movements, ensuring readiness for deployment.
        </li>
        <li>
          Implemented comprehensive unit and system tests, ensuring the intended
          functionality of software modules.
        </li>
        <!-- Add more responsibilities as needed -->
      </ul>

      <h2 class="text-slate-50 text-2xl font-bold mt-5">Technologies Used:</h2>
      <ul class="list-disc pl-8 text-slate-50">
        <li>C#</li>
        <li>.NET</li>
        <li>TypeScript</li>
        <!-- Add more technologies as needed -->
      </ul>

      <!-- Add more content as needed -->

      <!-- Link back to the home page -->
      <a
        class="text-blue-500 font-bold mt-5"
        routerLink=""
        routerLinkActive="active"
        >Back to Home</a
      >
    </div>
  </div>
</section>
