<section
  class="flex flex-col md:flex-row bg-gradient-to-t from-gray-900 to-slate-300"
>
  <div id="contactAnchor" class="relative -top-16"></div>

  <article
    class="bg-gradient-to-t from-gray-900 to-slate-300 m-0 w-full md:w-7/12"
  >
    <header class="w-full flex flex-col items-end">
      <h1
        class="flex items-end main-bg-color custom-blue justify-end w-fit text-3xl uppercase p-2 font-bold"
        data-aos="fade-up"
      >
        Contact Me
      </h1>
    </header>

    <div class="flex items-center justify-center p-5">
      <div
        class="bg-blue-500 bg-opacity-90 text-slate-200 p-10 rounded-lg shadow-lg max-w-md"
        data-aos="fade-up"
      >
        <p class="font-bold" data-aos="fade-up">
          I would love to hear from you.
        </p>
        <p class="mb-8" data-aos="fade-up">
          Connect with me on
          <a
            class="text-inherit font-semibold hover:text-slate-200 hover:cursor-pointer"
            href="https://www.linkedin.com/in/andre-steyn98/"
            target="_blank"
            rel="noopener noreferrer"
            >LinkedIn</a
          >
          to stay updated on my professional journey. Explore my projects on
          <a
            class="text-inherit font-semibold hover:text-slate-200 hover:cursor-pointer"
            href="https://github.com/AndreSteyn0/Andre-Steyn"
            target="_blank"
            rel="noopener noreferrer"
            >GitHub</a
          >
          to see my coding adventures. Otherwise, fill in the form below to send
          me an email.
        </p>
        <form action="#" method="post" data-aos="fade-up">
          <div class="mb-4">
            <input
              type="text"
              name="name"
              placeholder="Your Name"
              class="w-full p-3 border-none rounded bg-slate-300 custom-blue placeholder-gray-500 focus:outline-none focus:ring focus:border-blue-300"
            />
          </div>
          <div class="mb-4">
            <input
              type="email"
              name="email"
              placeholder="Your Email"
              class="w-full p-3 border-none rounded bg-slate-300 custom-blue placeholder-gray-500 focus:outline-none focus:ring focus:border-blue-300"
            />
          </div>
          <div class="">
            <textarea
              name="message"
              placeholder="Your Message"
              class="w-full h-[100px] p-[12px] border-none rounded bg-slate-300 custom-blue placeholder-gray-500 resize-none outline-none"
            ></textarea>
          </div>
          <button
            type="submit"
            class="mt-[16px] w-full py-[12px] text-slate-300 font-bold bg-blue-800 hover:bg-blue-950 rounded cursor-pointer uppercase"
          >
            Submit
          </button>
        </form>
      </div>
    </div>
  </article>

  <aside
    class="hidden md:flex m-0 background-image w-0 md:w-5/12 h-auto bg-cover bg-center"
    data-aos="fade-up"
  >
    <div
      class="text-center bg-slate-900 bg-opacity-40 min-w-full min-h-screen m-0 flex flex-col justify-center items-center"
    ></div>
  </aside>
</section>
