<header class="sticky top-0 z-10 bg-slate-100 p-2">
  <section class="mx-2 flex items-center align-middle justify-between">
    <div class="flex gap-4">
      <a
        class="no-underline hover:cursor-pointer"
        href="https://minopex.com/"
        target="_blank"
        rel="noopener noreferrer"
      >
        <img
          class="h-9 w-auto flex align-middle items-center"
          src="../../../../../../assets/img/logos/minopex_138x39.png"
          alt="Minopex"
          width="300"
          height="100"
        />
      </a>
      <h1
        class="hidden sm:flex items-start justify-start custom-blue m-0 text-2xl font-bold"
      >
        Process Engineering Intern
      </h1>
    </div>

    <button class="text-2xl font-bold" (click)="navigateAndScroll()">
      <i class="bi bi-house-fill"></i>
    </button>
  </section>
</header>

<div id="minopexAnchor" class="relative -top-10"></div>
<section
  class="flex flex-col sm:flex-row w-auto h-fit bg-cover bg-center background-image align-middle justify-center items-center"
>
  <div class="m-0 w-full sm:w-1/2">
    <div
      class="bg-gray-900 bg-opacity-100 sm:bg-opacity-95 text-slate-50 w-full p-8 min-h-screen"
    >
      <h1 class="inline sm:hidden text-2xl font-bold">Process Engineering Intern</h1>
      <h2 class="text-2xl font-bold">Jan 2021 to Feb 2021</h2>
      <p class="">
        <span class="font-semibold text-lg">
          During my initial role at Minopex,</span
        >
        I spearheaded a significant project investigating the efficiency of
        dense medium cyclones and optimizing ferrosilicon recovery, contributing
        to cost-effective process enhancements. My collaboration with the junior
        metallurgist involved innovative data analysis techniques to improve
        accuracy in flotation cell data management. Additionally, I demonstrated
        strong written communication skills in preparing various reports and
        documents, actively engaged in continuous improvement initiatives,
        upheld safety standards, and leveraged advanced Excel and Python
        expertise to streamline data analysis and reporting processes.
      </p>
      <h2 class="text-2xl font-semibold mt-4">Responsibilities:</h2>
      <ul class="list-disc pl-8">
        <li class="mt-2">
          <span class="font-semibold text-lg"
            >Led a comprehensive project focused</span
          >
          on investigating the efficiency of dense medium cyclones and
          optimizing ferrosilicon recovery, contributing to process improvement
          and cost optimization initiative.
        </li>
        <li class="mt-2">
          <span class="font-semibold text-lg"
            >Collaborated closely with the junior metallurgist,</span
          >
          conducting in-depth analysis of trend data and formulating innovative
          ideas to enhance data capturing for flotation cells, improving
          accuracy and efficiency in data management.
        </li>
        <li class="mt-2">
          <span class="font-semibold text-lg"
            >Demonstrated excellent written communication skills</span
          >
          by preparing a diverse range of reports, documents, and
          communications, ensuring effective dissemination of critical
          information and promoting smooth operations.
        </li>
        <li class="mt-2">
          <span class="font-semibold text-lg"
            >Actively participated in continuous improvement initiatives</span
          >
          leveraging problem-solving skills and generating valuable suggestions
          to enhance processes and foster a collaborative and innovative team
          environment.
        </li>
        <li class="mt-2">
          <span class="font-semibold text-lg"
            >Maintained strict adherence to applicable standards,</span
          >
          policies, and regulatory guidelines, prioritizing safety and promoting
          a secure working environment for all team members.
        </li>
        <li class="mt-2">
          <span class="font-semibold text-lg"
            >Utilized advanced Microsoft Excel and Python</span
          >
          skills for data analysis and interpretation, creating comprehensive
          and visually appealing spreadsheets for daily reporting, streamlining
          data analysis and reporting processes.
        </li>
      </ul>

      <h2 class="text-2xl font-semibold mt-4">Technologies Used:</h2>
      <div class="flex flex-cols-2 items-center justify-evenly align-middle">
        <div class="flex items-center justify-center">
          <img
            class="h-20 w-auto flex align-middle items-center"
            src="../../../../../../assets/img/logos/excel_258X240.png"
            alt="Excel"
            title="Excel"
            width="258"
            height="240"
          />
        </div>
        <div class="flex items-center justify-center">
          <img
            class="h-20 w-auto flex align-middle items-center"
            src="../../../../..//../assets/img/logos/python_240X240.png"
            alt="Python"
            title="Python"
            width="240"
            height="240"
          />
        </div>
      </div>

      <div class="flex items-center justify-center">
        <button
          class="bg-blue-500 hover:bg-blue-700 text-white text-2xl font-bold py-2 px-4 rounded mt-4"
          (click)="navigateAndScroll()"
        >
          <i class="bi bi-house-fill"></i>
        </button>
      </div>
    </div>
  </div>
</section>
