<header class="sticky top-0 z-10 bg-slate-100 p-2">
  <section class="mx-2 flex items-center align-middle justify-between">
    <div class="flex gap-4">
      <a
        class="no-underline hover:cursor-pointer"
        href="https://minopex.com/"
        target="_blank"
        rel="noopener noreferrer"
      >
        <img
          class="h-9 w-auto flex align-middle items-center"
          src="../../../../../../assets/img/logos/minopex_138x39.png"
          alt="Minopex"
          width="300"
          height="100"
        />
      </a>
      <h1
        class="hidden md:flex items-start justify-start custom-blue m-0 text-2xl font-bold" 
      >
        Process Engineering Intern
      </h1>
    </div>

    <button class="text-2xl font-bold" (click)="navigateAndScroll()">
      <i class="bi bi-house-fill"></i>
    </button>
  </section>
</header>

<div id="minopexAnchor" class="relative -top-10"></div>
<section
  class="flex flex-col md:flex-row w-auto h-fit bg-cover bg-center background-image align-middle justify-center items-center"
>
  <div class="m-0 w-full md:w-1/2">
    <div
      class="bg-gray-900 bg-opacity-75 md:bg-opacity-90 text-slate-50 w-full p-8 min-h-screen"
    >
      <h1 class="inline md:hidden text-2xl font-bold" data-aos="fade-up">
        Process Engineering Intern
      </h1>
      <h2 class="text-2xl font-bold" data-aos="fade-up">Jan 2022 to Feb 2022</h2>
      <p class="" data-aos="fade-up">
        <span class="font-semibold text-lg"
          >During my second stint of vacation work,</span
        >
        I played an active role in optimizing the flotation section's
        operations. My responsibilities encompassed tasks like airflow
        optimization, reagent preparation, and maintaining uninterrupted flow in
        pipelines. My primary project involved conducting bench flotation tests
        and in-depth particle size distribution analysis, utilizing established
        methodologies to evaluate their influence on process efficiency.
        Additionally, I leveraged Excel and Python for meticulous data analysis
        and interpretation, thereby improving the effectiveness of data-driven
        decision-making and making significant contributions to our team's
        objectives.
      </p>

      <h2 class="text-2xl font-semibold mt-4" data-aos="fade-up">Responsibilities:</h2>
      <ul class="list-disc pl-8">
        <li class="mt-2" data-aos="fade-up">
          <span class="font-semibold text-lg"
            >Assisted in the seamless operation of the flotation section,</span
          >
          actively involved in critical tasks such as loading and dispatching
          tankers, optimizing airflow to the flotation cells, preparing
          reagents, and ensuring the uninterrupted flow through pipes.
        </li>

        <li class="mt-2" data-aos="fade-up">
          <span class="font-semibold text-lg"
            >Contributed to sample collection</span
          >
          and conducted meticulous lab work, employing various techniques to
          analyze and interpret sample data accurately.
        </li>

        <li class="mt-2" data-aos="fade-up">
          <span class="font-semibold text-lg"
            >Conducted particle size distribution analysis,</span
          >
          employing advanced methodologies to determine the size distribution of
          particles and assess their impact on the overall process efficiency.
        </li>
        <li class="mt-2" data-aos="fade-up">
          <span class="font-semibold text-lg"
            >Actively participated in bench flotations,
          </span>
          conducting trials on diverse ore types to evaluate and optimize the
          flotation process.
        </li>
        <li class="mt-2" data-aos="fade-up">
          <span class="font-semibold text-lg"
            >Utilized Excel and Python for data analysis
          </span>
          and interpretation, enhancing the efficiency of data-driven
          decision-making.
        </li>
        <li class="mt-2" data-aos="fade-up">
          <span class="font-semibold text-lg"
            >Maintained detailed records of daily trends,</span
          >
          providing valuable insights into process performance and facilitating
          proactive decision-making.
        </li>
        <li class="mt-2" data-aos="fade-up">
          <span class="font-semibold text-lg"
            >Updated and interpreted production data</span
          >
          and reagent flowrate data, enabling informed assessments of process
          efficiency and identifying areas for improvement.
        </li>
      </ul>

      <div data-aos="fade-up">
        <h2 class="text-2xl font-semibold mt-4" >Technologies Used:</h2>
        <div class="flex flex-cols-2 items-center justify-evenly align-middle">
          <div class="flex items-center justify-center">
            <img
              class="h-20 w-auto flex align-middle items-center"
              src="../../../../../../assets/img/logos/excel_258X240.png"
              alt="Microsoft Excel"
              title="Microsoft Excel"
              width="258"
              height="240"
            />
          </div>
          <div class="flex items-center justify-center">
            <img
              class="h-20 w-auto flex align-middle items-center"
              src="../../../../..//../assets/img/logos/python_240X240.png"
              alt="Python"
              title="Python"
              width="240"
              height="240"
            />
          </div>
        </div>
  
        <div class="flex items-center justify-center">
          <button
            class="bg-blue-500 hover:bg-blue-700 text-white text-2xl font-bold py-2 px-4 rounded mt-4"
            (click)="navigateAndScroll()"
          >
            <i class="bi bi-house-fill"></i>
          </button>
        </div>
      </div>
      
    </div>
  </div>
</section>
