<section class="w-auto min-h-screen bg-cover bg-center background-image">
  <div
    class="text-center bg-black min-w-full min-h-screen bg-opacity-50 m-0 flex flex-col justify-center items-center"
  >
    <h2 class="text-white text-4xl sm:text-6xl font-bold">HI, I'M</h2>
    <div class="container">
      <p class="text-white text-4xl sm:text-6xl font-bold typewriter">A DEVELOPER</p>
      <!-- <p class="text-white text-6xl font-bold typewriter">ANDRE STEYN</p> -->
    </div>
    <button
      class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mt-4"
    >
      View My Works
    </button>
  </div>
</section>
