<section
  id="welcomeAnchor"
  class="w-auto min-h-screen bg-cover bg-center background-image text-slate-200"
>
  <div
    class="text-center bg-slate-600 min-w-full min-h-screen bg-opacity-80 m-0 flex flex-col justify-center items-center"
  >
    <h2 class="text-3xl md:text-6xl font-bold uppercase">Hi, I'm &nbsp;</h2>
    <div>
      <h2 class="text-3xl md:text-6xl font-bold uppercase typewriter"></h2>
    </div>
    <div class="flex flex-row gap-4 mt-4">
      <a
        class="no-underline hover:cursor-pointer"
        href="https://www.linkedin.com/in/andre-steyn98/"
        target="_blank"
        rel="noopener noreferrer"
      >
        <img
          class="w-12 h-auto flex align-middle items-center"
          src="../../../assets/img/logos/linkedIn_240X240.png"
          alt="LinkedIn"
          title="Connect with me on LinkedIn."
          width="240"
          height="240"
        />
      </a>
      <a
        class="no-underline hover:cursor-pointer bg-black opacity-100 rounded-full"
        href="https://github.com/AndreSteyn0/Andre-Steyn"
        target="_blank"
        rel="noopener noreferrer"
      >
        <img
          class="w-12 h-auto flex align-middle items-center"
          src="../../../assets/img/logos/github_230X225.png"
          alt="GitHub"
          title="Visit my GitHub page."
          width="230"
          height="225"
        />
      </a>
    </div>
  </div>
</section>
