<section class="flex flex-col sm:flex-row">

    <div class="hidden sm:flex m-0 background-image-bw w-0 sm:w-1/2 max-h-fit bg-cover bg-center"></div>
    
    <div class="m-0 w-full sm:w-1/2">
        
      <div
        class="bg-slate-300 bg-opacity-50 w-full p-8"
      >
        <h1
          class="flex mb-5 items-start main-bg-color max-w-fit text-gray-800 text-3xl uppercase p-2 font-bold shadow-md shadow-black"
        >
          About Me
        </h1>
        <p class="text-gray-800 text-lg">
          Hey there! I'm <span class="font-bold">André Steyn</span>, a passionate
          software developer based in Pretoria, South Africa. I started my journey
          in Chemical Engineering, earning my bachelor's degree with distinction
          in 2022. However, my true calling revealed itself during my studies,
          leading me to transition into the world of software development.
        </p>
        <p class="text-gray-800 text-lg mt-3">
          <span class="font-bold">After discovering my love for coding</span> , I
          dedicated myself to mastering the craft. I completed various Udemy
          courses and, in 2023, landed a role as a Junior Software Developer at
          Dariel. Currently, I'm honing my skills in ASP.NET Core, Angular, and
          Azure while striving to become a full-stack engineer.
        </p>
        <p class="text-gray-800 text-lg mt-3">
          <span class="font-bold">Beyond the keyboard</span>, I find joy in the
          beautiful game of football. As a member of the CBC Old Boys football
          club in Pretoria, I enjoy the camaraderie and thrill of the game. When
          the pixels beckon, I immerse myself in video games, with Doom Eternal
          ranking among my favorites.
        </p>
      </div>
    </div>
</section>

<!-- <section class="flex flex-row">

    <div class="flex m-0 background-image-bw min-w-80 max-h-fit bg-cover bg-center"></div>
    
    <div class="m-0 w-full">
        
      <div
        class="bg-slate-300 bg-opacity-50 w-full p-8"
      >
        <h1
          class="flex mb-5 items-start main-bg-color max-w-fit text-gray-800 text-3xl uppercase p-2 font-bold shadow-md shadow-black"
        >
          About Me
        </h1>
        <p class="text-gray-800 text-lg">
          Hey there! I'm <span class="font-bold">André Steyn</span>, a passionate
          software developer based in Pretoria, South Africa. I started my journey
          in Chemical Engineering, earning my bachelor's degree with distinction
          in 2022. However, my true calling revealed itself during my studies,
          leading me to transition into the world of software development.
        </p>
        <p class="text-gray-800 text-lg mt-3">
          <span class="font-bold">After discovering my love for coding</span> , I
          dedicated myself to mastering the craft. I completed various Udemy
          courses and, in 2023, landed a role as a Junior Software Developer at
          Dariel. Currently, I'm honing my skills in ASP.NET Core, Angular, and
          Azure while striving to become a full-stack engineer.
        </p>
        <p class="text-gray-800 text-lg mt-3">
          <span class="font-bold">Beyond the keyboard</span>, I find joy in the
          beautiful game of football. As a member of the CBC Old Boys football
          club in Pretoria, I enjoy the camaraderie and thrill of the game. When
          the pixels beckon, I immerse myself in video games, with Doom Eternal
          ranking among my favorites.
        </p>
      </div>
    </div>
</section> -->
