<section class="flex flex-col sm:flex-row">
  <div id="aboutAnchor" class="relative -top-20"></div>
  <div
    class="hidden sm:flex m-0 background-image w-0 sm:w-5/12 max-h-fit bg-cover bg-center"
  >
    <div
      class="text-center bg-slate-900 min-w-full opacity-25 m-0 flex flex-col justify-center items-center"
    ></div>
  </div>

  <div class="m-0 w-full sm:w-7/12">
    <div class="bg-gray-900 bg-opacity-90 w-full flex flex-col items-start">
      <h1
        class="flex main-bg-color max-w-fit custom-blue text-3xl uppercase p-2 font-bold"
      >
        About Me
      </h1>
    </div>

    <div class="bg-gray-900 bg-opacity-90 w-full p-8">
      <p class="text-slate-50 text-lg">
        <span class="font-bold"> Hey there👋 I'm André Steyn</span>, a
        passionate software developer based in Pretoria, South Africa. I started
        my journey in Chemical Engineering, earning my bachelor's degree with
        distinction in 2022. However, my true calling revealed itself during my
        studies, leading me to transition into the world of software
        development. 🚀
      </p>
      <p class="text-slate-50 text-lg mt-3">
        <span class="font-bold">After discovering my love for coding</span>, I
        dedicated myself to mastering the craft. I completed various Udemy
        courses and, in 2023, landed a role as a Junior Software Developer at
        Dariel. Currently, I'm honing my skills in ASP.NET Core, Angular, and
        AWS while striving to become a full-stack engineer. 💻
      </p>
      <p class="text-slate-50 text-lg mt-3">
        <span class="font-bold">Exploring new technologies</span>
        and solving real-world problems is what keeps me motivated. 🚀 I'm
        always eager to learn and embrace challenges in the ever-evolving
        landscape of software development.
      </p>
      <p class="text-slate-50 text-lg mt-3">
        <span class="font-bold">Beyond the keyboard</span>, I find joy in the
        beautiful game of football. As a member of the CBC Old Boys football
        club in Pretoria, I enjoy the camaraderie and thrill of the game. When
        the pixels beckon, I immerse myself in video games, with Doom Eternal
        ranking among my favourites. 🎮
      </p>

      <p class="text-slate-50 text-lg mt-3">
        <span class="font-bold">In my free time,</span>
        you might also find me experimenting with new coding projects or
        enjoying a cup of coffee while brainstorming innovative solutions. ☕️
        Let's
        <a
          class="text-blue-300 font-bold hover:text-slate-200 hover:cursor-pointer"
          href="https://www.linkedin.com/in/andre-steyn98/"
          target="_blank"
          rel="noopener noreferrer"
          >connect</a
        >
        and share our coding adventures!
      </p>
    </div>
  </div>
</section>
