<section class="flex flex-col sm:flex-row">

    <div class="hidden sm:flex m-0 background-image w-0 sm:w-1/3 max-h-fit bg-cover bg-center"></div>
    
    <div class="m-0 w-full sm:w-2/3">
      <div class="bg-gray-900 bg-opacity-90 w-full flex flex-col items-start">
        <h1
          class="flex main-bg-color max-w-fit custom-blue text-3xl uppercase p-2 font-bold"
        >
          About Me
        </h1>
      </div>

      <div
        class="bg-gray-900 bg-opacity-90 w-full p-8"
      >
        <p class="text-slate-50 text-lg">
          Hey there! I'm <span class="font-bold">André Steyn</span>, a passionate
          software developer based in Pretoria, South Africa. I started my journey
          in Chemical Engineering, earning my bachelor's degree with distinction
          in 2022. However, my true calling revealed itself during my studies,
          leading me to transition into the world of software development.
        </p>
        <p class="text-slate-50 text-lg mt-3">
          <span class="font-bold">After discovering my love for coding</span> , I
          dedicated myself to mastering the craft. I completed various Udemy
          courses and, in 2023, landed a role as a Junior Software Developer at
          Dariel. Currently, I'm honing my skills in ASP.NET Core, Angular, and
          Azure while striving to become a full-stack engineer.
        </p>
        <p class="text-slate-50 text-lg mt-3">
          <span class="font-bold">Beyond the keyboard</span>, I find joy in the
          beautiful game of football. As a member of the CBC Old Boys football
          club in Pretoria, I enjoy the camaraderie and thrill of the game. When
          the pixels beckon, I immerse myself in video games, with Doom Eternal
          ranking among my favorites.
        </p>
      </div>
    </div>
</section>